# BipartitePandas example

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
# Add pytwoway to system path, do not run this
import sys
sys.path.append('../../..')

In [3]:
# Import the pytwoway package 
# (Make sure you have installed it using pip install pytwoway)
import pytwoway as tw

## Simulate some data

The package contains functions to simulate data. We use this here to keep things simple.

In [4]:
# For the example, we simulate data
sim_data = tw.SimTwoWay().sim_network()[['wid', 'fid', 'comp', 'year']]
display(sim_data)

        wid  fid      comp  year
0         0  133  1.885055     1
1         0  172  1.294933     2
2         0  172  3.673438     3
3         0  172  1.977416     4
4         0  180  1.885110     5
...     ...  ...       ...   ...
49995  9999   92  0.771221     1
49996  9999   34 -2.824887     2
49997  9999   34 -0.637885     3
49998  9999   34 -1.370337     4
49999  9999   44 -1.574079     5

[50000 rows x 4 columns]

## BipartiteData

BipartiteData is a superclass with 3 subclasses:
- BipartiteLong
- BipartiteLongCollapsed
- BipartiteEventStudy

The user interfaces with BipartiteData which converts between the 3 subclasses.

In [11]:
# Our data is in long form (each row gives a single observation)
bd = tw.BipartitePandas(sim_data) # Long is default formatting, most data is long
display(bd)

../../../pytwoway/bipartite_pandas.py:209: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'n_jobs': 'deprecated',
../../../pytwoway/bipartite_pandas.py:218: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'dropna': False,
../../../pytwoway/bipartite_pandas.py:223: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  optional_cols = [['m'], ['j']]

        wid  fid      comp  year
0         0  133  1.885055     1
1         0  172  1.294933     2
2         0  172  3.673438     3
3         0  172  1.977416     4
4         0  180  1.885110     5
...     ...  ...       ...   ...
49995  9999   92  0.771221     1
49996  9999   34 -2.824887     2
49997  9999   34 -0.637885     3
49998  9999   34 -1.370337     4
49999  9999   44 -1.574079     5

[50000 rows x 4 columns]

In [13]:
bd.clean_data() # Should always clean data after initializing
# Let's see how our data looks
display(bd)

        wid  fid      comp  year
0         0  133  1.885055     1
1         0  172  1.294933     2
2         0  172  3.673438     3
3         0  172  1.977416     4
4         0  180  1.885110     5
...     ...  ...       ...   ...
49995  9999   92  0.771221     1
49996  9999   34 -2.824887     2
49997  9999   34 -0.637885     3
49998  9999   34 -1.370337     4
49999  9999   44 -1.574079     5

[50000 rows x 4 columns]

## Converting formats

In [14]:
# While our original data is long, we might want it to be in event study form (each row gives two consecutive observations)
bd = bd.get_es()
display(bd)

../../../pytwoway/bipartite_pandas.py:209: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'n_jobs': 'deprecated',
../../../pytwoway/bipartite_pandas.py:218: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'dropna': False,
../../../pytwoway/bipartite_pandas.py:223: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  optional_cols = [['m'], ['j']]
../../../pytwoway/bipartite_pandas.py:1859: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'n_jobs': 'deprecated',
../../../pytwoway/bipartite_pandas.py:1868: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'dropna': False,
../../../pytwoway/bipartite_pandas.py:1873: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  optional_cols = [['w1', 'w2'], ['m'], ['j1', 'j2']]

        wid  f1i  f2i        y1        y2  year_1  year_2  m
0         5  127  127  1.564827  1.564827       1       1  0
1         5  127  127  2.109840  2.109840       2       2  0
2         5  127  127  1.387846  1.387846       3       3  0
3         5  127  127  1.878352  1.878352       4       4  0
4         5  127  127  2.659721  2.659721       5       5  0
...     ...  ...  ...       ...       ...     ...     ... ..
40668  9997  134  134  0.368711  0.604633       4       5  1
40669  9999   92   34  0.771221 -2.824887       1       2  1
40670  9999   34   34 -2.824887 -0.637885       2       3  1
40671  9999   34   34 -0.637885 -1.370337       3       4  1
40672  9999   34   44 -1.370337 -1.574079       4       5  1

[40673 rows x 8 columns]

In [15]:
# We can also use event study data to retrive cross section data (cs=1 gives y1 as y1 for both stayers and movers; cs=0 gives y2 as y1 for only movers - this allows (almost) all income data to be accessed from the y1 column. Note that for movers, the last observation for each worker is not available without manipulation as it is shifted to the y2 column. Also note that the y1 row contains duplicates for all mover income, except for the first period.)
display(bd.get_cs())

        wid  f1i  f2i        y1        y2  year_1  year_2  m  cs
0         5  127  127  1.564827  1.564827       1       1  0   1
1         5  127  127  2.109840  2.109840       2       2  0   1
2         5  127  127  1.387846  1.387846       3       3  0   1
3         5  127  127  1.878352  1.878352       4       4  0   1
4         5  127  127  2.659721  2.659721       5       5  0   1
...     ...  ...  ...       ...       ...     ...     ... ..  ..
77976  9997  134  134  0.604633  0.368711       5       4  1   0
77977  9999   34   92 -2.824887  0.771221       2       1  1   0
77978  9999   34   34 -0.637885 -2.824887       3       2  1   0
77979  9999   34   34 -1.370337 -0.637885       4       3  1   0
77980  9999   44   34 -1.574079 -1.370337       5       4  1   0

[77981 rows x 9 columns]

In [17]:
# Maybe we want to convert back into long form
bd = bd.get_long()
display(bd)

../../../pytwoway/bipartite_pandas.py:209: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'n_jobs': 'deprecated',
../../../pytwoway/bipartite_pandas.py:218: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'dropna': False,
../../../pytwoway/bipartite_pandas.py:223: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  optional_cols = [['m'], ['j']]

        wid  fid      comp  year  m
0         0  133  1.885055     1  1
1         0  172  1.294933     2  1
2         0  172  3.673438     3  1
3         0  172  1.977416     4  1
4         0  180  1.885110     5  1
...     ...  ...       ...   ... ..
49995  9999   92  0.771221     1  1
49996  9999   34 -2.824887     2  1
49997  9999   34 -0.637885     3  1
49998  9999   34 -1.370337     4  1
49999  9999   44 -1.574079     5  1

[50000 rows x 5 columns]

In [18]:
# Now suppose we want to collapse by employment spells (so any consecutive observations with the same worker in the same firm are collapsed into 1 observation)
bd = bd.get_collapsed_long()
display(bd)

../../../pytwoway/bipartite_pandas.py:1066: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'n_jobs': 'deprecated',
../../../pytwoway/bipartite_pandas.py:1075: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'dropna': False,
../../../pytwoway/bipartite_pandas.py:1080: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  optional_cols = [['m'], ['weight'], ['j']]

        wid  fid      comp  year_start  year_end  weight  m
0         0  133  1.885055           1         1       1  1
1         0  172  2.315262           2         4       3  1
2         0  180  1.885110           5         5       1  1
3         1  178  1.870620           1         1       1  1
4         1  166  1.093333           2         5       4  1
...     ...  ...       ...         ...       ...     ... ..
29782  9997  134  0.486672           4         5       2  1
29783  9998  184  1.115716           1         5       5  0
29784  9999   92  0.771221           1         1       1  1
29785  9999   34 -1.611036           2         4       3  1
29786  9999   44 -1.574079           5         5       1  1

[29787 rows x 7 columns]

In [19]:
# We can then check out the event study using collapsed data
bd = bd.get_es()
display(bd)

../../../pytwoway/bipartite_pandas.py:1859: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'n_jobs': 'deprecated',
../../../pytwoway/bipartite_pandas.py:1868: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'dropna': False,
../../../pytwoway/bipartite_pandas.py:1873: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  optional_cols = [['w1', 'w2'], ['m'], ['j1', 'j2']]

,wid,f1i,f2i,y1,y2,year_start_1,year_end_1,year_start_2,year_end_2,w1,w2,m
0,5,127,127,1.920117,1.920117,1,5,1,5,5,5,0
1,6,6,6,-1.727674,-1.727674,1,5,1,5,5,5,0
2,13,99,99,1.243780,1.243780,1,5,1,5,5,5,0
3,25,71,71,0.348599,0.348599,1,5,1,5,5,5,0
4,32,123,123,0.983951,0.983951,1,5,1,5,5,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...
20455,9996,140,168,1.237031,1.454321,1,3,4,5,3,2,1
20456,9997,163,156,1.202543,2.291659,1,1,2,3,1,2,1
20457,9997,156,134,2.291659,0.486672,2,3,4,5,2,2,1
20458,9999,92,34,0.771221,-1.611036,1,1,2,4,1,3,1
20459,9999,34,44,-1.611036,-1.574079,2,4,5,5,3,1,1

In [20]:
# We can then go back to collapsed long
bd.get_collapsed_long()
display(bd)

../../../pytwoway/bipartite_pandas.py:1066: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'n_jobs': 'deprecated',
../../../pytwoway/bipartite_pandas.py:1075: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'dropna': False,
../../../pytwoway/bipartite_pandas.py:1080: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  optional_cols = [['m'], ['weight'], ['j']]

,wid,f1i,f2i,y1,y2,year_start_1,year_end_1,year_start_2,year_end_2,w1,w2,m
0,5,127,127,1.920117,1.920117,1,5,1,5,5,5,0
1,6,6,6,-1.727674,-1.727674,1,5,1,5,5,5,0
2,13,99,99,1.243780,1.243780,1,5,1,5,5,5,0
3,25,71,71,0.348599,0.348599,1,5,1,5,5,5,0
4,32,123,123,0.983951,0.983951,1,5,1,5,5,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...
20455,9996,140,168,1.237031,1.454321,1,3,4,5,3,2,1
20456,9997,163,156,1.202543,2.291659,1,1,2,3,1,2,1
20457,9997,156,134,2.291659,0.486672,2,3,4,5,2,2,1
20458,9999,92,34,0.771221,-1.611036,1,1,2,4,1,3,1
20459,9999,34,44,-1.611036,-1.574079,2,4,5,5,3,1,1

## Clustering

In [21]:
# Starting over
bd = tw.BipartitePandas(sim_data)
bd.clean_data()
display(bd)

../../../pytwoway/bipartite_pandas.py:209: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'n_jobs': 'deprecated',
../../../pytwoway/bipartite_pandas.py:218: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'dropna': False,
../../../pytwoway/bipartite_pandas.py:223: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  optional_cols = [['m'], ['j']]

        wid  fid      comp  year
0         0  133  1.885055     1
1         0  172  1.294933     2
2         0  172  3.673438     3
3         0  172  1.977416     4
4         0  180  1.885110     5
...     ...  ...       ...   ...
49995  9999   92  0.771221     1
49996  9999   34 -2.824887     2
49997  9999   34 -0.637885     3
49998  9999   34 -1.370337     4
49999  9999   44 -1.574079     5

[50000 rows x 4 columns]

In [25]:
# We can cluster from any format and clusters stay when reformatting
bd.cluster()
display(bd)

../../../pytwoway/bipartite_pandas.py:209: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'algorithm': 'auto'
../../../pytwoway/bipartite_pandas.py:218: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'user_KMeans': self.default_KMeans
../../../pytwoway/bipartite_pandas.py:223: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.col_dict = _col_dict_optional_cols(default_col_dict, col_dict, self.columns, optional_cols=optional_cols)
../../../pytwoway/bipartite_pandas.py:209: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'algorithm': 'auto'
../../../pytwoway/bipartite_pandas.py:218: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'user_KMeans': self.default_KMeans
../../../pytwoway/bipartite_pandas.py:223: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.col_dict = _col_dict_optional_cols(default_col_dict, col_dict, self.columns, optional_cols=optional_cols)
../../../pytwoway/bipartite_pandas.py:209: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'algorithm': 'auto'
../../../pytwoway/bipartite_pandas.py:218: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'user_KMeans': self.default_KMeans
../../../pytwoway/bipartite_pandas.py:223: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.col_dict = _col_dict_optional_cols(default_col_dict, col_dict, self.columns, optional_cols=optional_cols)
../../../pytwoway/bipartite_pandas.py:209: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'algorithm': 'auto'
../../../pytwoway/bipartite_pandas.py:218: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'user_KMeans': self.default_KMeans
../../../pytwoway/bipartite_pandas.py:223: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.col_dict = _col_dict_optional_cols(default_col_dict, col_dict, self.columns, optional_cols=optional_cols)
../../../pytwoway/bipartite_pandas.py:209: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'algorithm': 'auto'
../../../pytwoway/bipartite_pandas.py:218: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'user_KMeans': self.default_KMeans
../../../pytwoway/bipartite_pandas.py:223: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.col_dict = _col_dict_optional_cols(default_col_dict, col_dict, self.columns, optional_cols=optional_cols)
../../../pytwoway/bipartite_pandas.py:209: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'algorithm': 'auto'
../../../pytwoway/bipartite_pandas.py:218: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'user_KMeans': self.default_KMeans
../../../pytwoway/bipartite_pandas.py:223: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.col_dict = _col_dict_optional_cols(default_col_dict, col_dict, self.columns, optional_cols=optional_cols)
../../../pytwoway/bipartite_pandas.py:209: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'algorithm': 'auto'
../../../pytwoway/bipartite_pandas.py:218: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'user_KMeans': self.default_KMeans
../../../pytwoway/bipartite_pandas.py:223: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.col_dict = _col_dict_optional_cols(default_col_dict, col_dict, self.columns, optional_cols=optional_cols)
../../../pytwoway/bipartite_pandas.py:209: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'algorithm': 'auto'
../../../pytwoway/bipartite_pandas.py:218: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'user_KMeans': self.default_KMeans
../../../pytwoway/bipartite_pandas.py:223: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.col_dict = _col_dict_optional_cols(default_col_dict, col_dict, self.columns, optional_cols=optional_cols)
../../../pytwoway/bipartite_pandas.py:209: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'algorithm': 'auto'
../../../pytwoway/bipartite_pandas.py:218: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'user_KMeans': self.default_KMeans
../../../pytwoway/bipartite_pandas.py:223: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.col_dict = _col_dict_optional_cols(default_col_dict, col_dict, self.columns, optional_cols=optional_cols)
../../../pytwoway/bipartite_pandas.py:209: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'algorithm': 'auto'
../../../pytwoway/bipartite_pandas.py:218: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  'user_KMeans': self.default_KMeans
../../../pytwoway/bipartite_pandas.py:223: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.col_dict = _col_dict_optional_cols(default_col_dict, col_dict, self.columns, optional_cols=optional_cols)

<class 'pytwoway.bipartite_pandas.BipartitePandas'>
<class 'pandas.core.frame.DataFrame'>

NameError: name 'stop' is not defined

In [ ]:
bd = bd.get_es()
display(bd)

In [ ]:
bd = bd.get_long()
bd = bd.get_collapsed_long()
display(bd)

In [ ]:
bd = bd.get_es()
display(bd)

## Clustering options

In [ ]:
# We can cluster on a specific year in long form
bd = tw.BipartitePandas(sim_data)
bd.clean_data()
bd.cluster({'year': 1})
display(bd)

In [ ]:
# We can cluster on movers or stayers in any form
# Note that not all firms are clustered, so some rows have NaNs
bd = tw.BipartitePandas(sim_data)
bd.clean_data()
bd.cluster({'stayers_movers': 'stayers'})
display(bd)

In [ ]:
# We can cluster on movers or stayers in any form
# Set 'dropna': True if you want to drop firms that don't get clustered (note that this fully resets firm and worker ids, since they must be contiguous for the FE/CRE/BLM estimators to work)
bd = tw.BipartitePandas(sim_data)
bd.clean_data()
bd.cluster({'stayers_movers': 'stayers', 'dropna': True})
display(bd)

In [ ]:
# We can cluster on movers or stayers in any form
bd = tw.BipartitePandas(sim_data)
bd.clean_data()
bd.cluster({'stayers_movers': 'movers'})
display(bd)

## Some extra features

In [ ]:
# # We can get some summary statistics by printing the BipartiteData object
# sim_data = tw.SimTwoWay().sim_network()[['wid', 'fid', 'comp', 'year']]
# sim_data = sim_data.rename({'fid': 'f1i'}, axis=1)
# bd = tw.BipartitePandas(sim_data, col_dict={'fid': 'f1i'})
# bd.clean_data()
# display(bd)

In [ ]:
# BipartiteData does some nice column inference
# Suppose some of our columns are mislabeled - create a col_dict to clarify which columns to correct
sim_data = tw.SimTwoWay().sim_network()[['wid', 'fid', 'comp', 'year']]
sim_data = sim_data.rename({'fid': 'f1i'}, axis=1)
bd = tw.BipartitePandas(sim_data, col_dict={'fid': 'f1i'})
bd.clean_data()
display(bd)

In [ ]:
# Suppose we have already clustered - the class determines this automatically
sim_data = tw.SimTwoWay().sim_network()[['wid', 'fid', 'comp', 'year']]
sim_data['j'] = 1
bd = tw.BipartitePandas(sim_data)
bd.clean_data()
display(bd)

In [ ]:
# Now suppose we mislabeled our clusters - the class drops this column
sim_data = tw.SimTwoWay().sim_network()[['wid', 'fid', 'comp', 'year']]
sim_data['j1'] = 1
bd = tw.BipartitePandas(sim_data)
bd.clean_data()
display(bd)

In [ ]:
# We can make sure our columns are included by specifying the corrected labels in col_dict (note that if the variable of interest requires 2 columns, e.g. weight 1 and weight 2 for event study data, BOTH columns are required - if only one column is included, it is automatically dropped.)
sim_data = tw.SimTwoWay().sim_network()[['wid', 'fid', 'comp', 'year']]
sim_data['j1'] = 1
bd = tw.BipartitePandas(sim_data, col_dict={'j': 'j1'})
bd.clean_data()
display(bd)

In [ ]:
# We may also specify a col_dict that overwrites a column label that would normally be inferred, and inference is skipped
sim_data = tw.SimTwoWay().sim_network()[['wid', 'fid', 'comp', 'year']]
sim_data = sim_data.rename({'fid': 'j'}, axis=1)
bd = tw.BipartitePandas(sim_data, col_dict={'fid': 'j'})
# Note that even though we have a column named j, because we specify it is the 'fid' column it is not inferred as the cluster values
bd.clean_data()
display(bd)